<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hubs Between Your Location</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            line-height: 1.5;
        }
        #map {
            height: 100%;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var locations = [
        	{% for loc in lats %}
        	
	      ['{{ loc.name }} ( {{ loc.orders_set.count }} )', {{ loc.lat }}, {{ loc.long }}, 4, './{{ loc.lat }}/{{ loc.long }}'],
	      {% endfor %}
	];

        var mid_lat = ({{lat1}} + {{lat2}} )/2;
        var mid_lng = ({{lon1}} + {{lon2}} )/2;
        setCookie("lat1",{{lat1}},24);
        setCookie("lon1",{{lon1}},24);
        setCookie("lat2",{{lat2}},24);
        setCookie("lon2",{{lon2}},24);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: mid_lat, lng: mid_lng}
        });
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay);
        var infowindow = new google.maps.InfoWindow();

	    var marker, i;

	    for (i = 0; i < locations.length; i++) { 
	      marker = new google.maps.Marker({
		position: new google.maps.LatLng(locations[i][1], locations[i][2]),
		map: map,
		url: locations[i][4]
	      });
      google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
		return function() {
		  infowindow.setContent(locations[i][0]);
		  infowindow.open(map, marker);
		}
	      })(marker, i));
	      google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
		return function() {
		  infowindow.setContent(locations[i][0]);
		  infowindow.close(map, marker);
		}
	      })(marker, i));
	      google.maps.event.addListener(marker, 'click', (function(marker, i) {
		return function() {
		  window.location = marker.url;
		}
	      })(marker, i));
        
      }
      

	    }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var selectedMode = "DRIVING";
        directionsService.route({
          origin: {lat: {{lat1}}, lng: {{lon1}}},  // Haight.
          destination: {lat: {{lat2}}, lng: {{lon2}}},  
          travelMode: google.maps.TravelMode[selectedMode]
        }, function(response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-OiWrk3Q29YGBEzNQANtJuk5No4uZW-o&callback=initMap"></script>
	<script>
		function setCookie(cname, cvalue, exdays) {
		    var d = new Date();
		    d.setTime(d.getTime() + (exdays*24*60*60*1000));
		    var expires = "expires="+ d.toUTCString();
		    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
	</script>
</body>
</html>
